@{
    ViewBag.__Title = "近期竞赛";
    ViewBag.__Type = "recent";
}

<div class="page-title row text-center">
    <h2>近期竞赛</h2>
</div>

<table id="table-recent" class="table table-striped table-hover table-nohead">
    <thead>
        <tr>
            <th class="text-center" style="width:60px">竞赛ID</th>
            <th>Contest Name</th>
            <th class="text-center" style="width:160px">开始时间</th>
            <th class="text-center" style="width:180px">类型</th>
            <th class="text-center" style="width:120px">OJ</th>
        </tr>
    </thead>
    <tbody>
        <tr id="tr-recent-info"><td id="td-recent-info" colspan="5" class="text-center">正在载入近期竞赛列表……</td></tr>
    </tbody>
    <tfoot>
        <tr><td colspan="5">Data Source : <a href="@SDNUOJ.Configuration.ConfigurationManager.RecentContestURL" target="_blank">@SDNUOJ.Configuration.ConfigurationManager.RecentContestURL</a></td></tr>
    </tfoot>
</table>